.progress
  display: flex
  justify-content: space-between
  align-items: center

  .controls
    display: flex
    column-gap: 30px

.form
  margin-top: 20px
  max-width: 430px

  &__controls
    display: flex
    flex-direction: column
    row-gap: 20px

  .subtitle
    margin-bottom: 40px

  .submit
    margin-top: 40px
